/*!
 * This file is part of the TYPO3 CMS project.
 * 
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 * 
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 * 
 * The TYPO3 project - inspiring people to share!
 */
@charset "UTF-8";
.tx-ig-mfa-frontend {
  --bs-blue: #0078e6;
  --bs-indigo: #6610f2;
  --bs-purple: #8661c5;
  --bs-pink: #e83e8c;
  --bs-red: #c83c3c;
  --bs-orange: #d83b01;
  --bs-yellow: #e8a33d;
  --bs-green: #107c10;
  --bs-teal: #008575;
  --bs-cyan: #17a2b8;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: rgb(115, 115, 115);
  --bs-gray-dark: rgb(51, 51, 51);
  --bs-gray-100: rgb(245, 245, 245);
  --bs-gray-200: rgb(238, 238, 238);
  --bs-gray-300: rgb(215, 215, 215);
  --bs-gray-400: rgb(204, 204, 204);
  --bs-gray-500: rgb(187, 187, 187);
  --bs-gray-600: rgb(115, 115, 115);
  --bs-gray-700: rgb(90, 90, 90);
  --bs-gray-800: rgb(51, 51, 51);
  --bs-gray-900: rgb(30, 30, 30);
  --bs-primary: #0078e6;
  --bs-secondary: rgb(115, 115, 115);
  --bs-success: #107c10;
  --bs-info: #6daae0;
  --bs-warning: #e8a33d;
  --bs-danger: #c83c3c;
  --bs-light: rgb(245, 245, 245);
  --bs-default: rgb(245, 245, 245);
  --bs-notice: rgb(51, 51, 51);
  --bs-dark: rgb(30, 30, 30);
  --bs-primary-rgb: 0, 120, 230;
  --bs-secondary-rgb: 115, 115, 115;
  --bs-success-rgb: 16, 124, 16;
  --bs-info-rgb: 109, 170, 224;
  --bs-warning-rgb: 232, 163, 61;
  --bs-danger-rgb: 200, 60, 60;
  --bs-light-rgb: 245, 245, 245;
  --bs-default-rgb: 245, 245, 245;
  --bs-notice-rgb: 51, 51, 51;
  --bs-dark-rgb: 30, 30, 30;
  --bs-primary-text-emphasis: #00305c;
  --bs-secondary-text-emphasis: #2e2e2e;
  --bs-success-text-emphasis: #063206;
  --bs-info-text-emphasis: #2c445a;
  --bs-warning-text-emphasis: #5d4118;
  --bs-danger-text-emphasis: #501818;
  --bs-light-text-emphasis: rgb(90, 90, 90);
  --bs-dark-text-emphasis: rgb(90, 90, 90);
  --bs-primary-bg-subtle: #cce4fa;
  --bs-secondary-bg-subtle: #e3e3e3;
  --bs-success-bg-subtle: #cfe5cf;
  --bs-info-bg-subtle: #e2eef9;
  --bs-warning-bg-subtle: #faedd8;
  --bs-danger-bg-subtle: #f4d8d8;
  --bs-light-bg-subtle: #fafafa;
  --bs-dark-bg-subtle: rgb(204, 204, 204);
  --bs-primary-border-subtle: #99c9f5;
  --bs-secondary-border-subtle: #c7c7c7;
  --bs-success-border-subtle: #9fcb9f;
  --bs-info-border-subtle: #c5ddf3;
  --bs-warning-border-subtle: #f6dab1;
  --bs-danger-border-subtle: #e9b1b1;
  --bs-light-border-subtle: rgb(238, 238, 238);
  --bs-dark-border-subtle: rgb(187, 187, 187);
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-line-height: 1.5;
  --bs-body-color: #000;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(0, 0, 0, 0.75);
  --bs-secondary-color-rgb: 0, 0, 0;
  --bs-secondary-bg: rgb(238, 238, 238);
  --bs-secondary-bg-rgb: 238, 238, 238;
  --bs-tertiary-color: rgba(0, 0, 0, 0.5);
  --bs-tertiary-color-rgb: 0, 0, 0;
  --bs-tertiary-bg: rgb(245, 245, 245);
  --bs-tertiary-bg-rgb: 245, 245, 245;
  --bs-heading-color: inherit;
  --bs-link-color: #212424;
  --bs-link-color-rgb: 33, 36, 36;
  --bs-link-decoration: none;
  --bs-link-hover-color: #1a1d1d;
  --bs-link-hover-color-rgb: 26, 29, 29;
  --bs-link-hover-decoration: underline;
  --bs-code-color: #e83e8c;
  --bs-highlight-color: #000;
  --bs-highlight-bg: #faedd8;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: rgb(215, 215, 215);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.125rem;
  --bs-border-radius-sm: 0.125rem;
  --bs-border-radius-lg: 0.125rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(0, 120, 230, 0.25);
  --bs-form-valid-color: #107c10;
  --bs-form-valid-border-color: #107c10;
  --bs-form-invalid-color: #c83c3c;
  --bs-form-invalid-border-color: #c83c3c;
}
.tx-ig-mfa-frontend {

*,
::after,
::before {
  box-sizing: border-box;
}
.lead {
  font-size: 0.9375rem;
  font-weight: 300;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}
.blockquote {
  margin-bottom: 1rem;
  font-size: 0.9375rem;
}
.blockquote > :last-child {
  margin-bottom: 0;
}
.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #737373;
}
.blockquote-footer::before {
  content: "— ";
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  box-shadow: var(--bs-box-shadow-sm);
  max-width: 100%;
  height: auto;
}
.figure {
  display: inline-block;
}
.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}
.figure-caption {
  font-size: 0.875em;
  color: var(--bs-secondary-color);
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
& {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
  padding-top: 20px;
}
.col {
  flex: 1 0 0%;
}
.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}
.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}
.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}
.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}
.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}
.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.offset-1 {
  margin-left: 8.33333333%;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333333%;
}
.offset-5 {
  margin-left: 41.66666667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333333%;
}
.offset-8 {
  margin-left: 66.66666667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333333%;
}
.offset-11 {
  margin-left: 91.66666667%;
}
.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}
.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}
.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}
.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}
.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}
.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}
.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}
.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}
.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}
.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}
.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}
.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}
@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --bs-gutter-x: 0;
  }
  .g-sm-0,
  .gy-sm-0 {
    --bs-gutter-y: 0;
  }
  .g-sm-1,
  .gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-sm-1,
  .gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-sm-2,
  .gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-sm-3,
  .gx-sm-3 {
    --bs-gutter-x: 1rem;
  }
  .g-sm-3,
  .gy-sm-3 {
    --bs-gutter-y: 1rem;
  }
  .g-sm-4,
  .gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-sm-4,
  .gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-sm-5,
  .gx-sm-5 {
    --bs-gutter-x: 3rem;
  }
  .g-sm-5,
  .gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .offset-md-2 {
    margin-left: 16.66666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333333%;
  }
  .offset-md-5 {
    margin-left: 41.66666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333333%;
  }
  .offset-md-8 {
    margin-left: 66.66666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333333%;
  }
  .offset-md-11 {
    margin-left: 91.66666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --bs-gutter-x: 0;
  }
  .g-md-0,
  .gy-md-0 {
    --bs-gutter-y: 0;
  }
  .g-md-1,
  .gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-md-1,
  .gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-md-2,
  .gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-md-2,
  .gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-md-3,
  .gx-md-3 {
    --bs-gutter-x: 1rem;
  }
  .g-md-3,
  .gy-md-3 {
    --bs-gutter-y: 1rem;
  }
  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-md-5,
  .gx-md-5 {
    --bs-gutter-x: 3rem;
  }
  .g-md-5,
  .gy-md-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --bs-gutter-x: 0;
  }
  .g-lg-0,
  .gy-lg-0 {
    --bs-gutter-y: 0;
  }
  .g-lg-1,
  .gx-lg-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-lg-1,
  .gy-lg-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-lg-2,
  .gx-lg-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-lg-2,
  .gy-lg-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-lg-3,
  .gx-lg-3 {
    --bs-gutter-x: 1rem;
  }
  .g-lg-3,
  .gy-lg-3 {
    --bs-gutter-y: 1rem;
  }
  .g-lg-4,
  .gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-lg-4,
  .gy-lg-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-lg-5,
  .gx-lg-5 {
    --bs-gutter-x: 3rem;
  }
  .g-lg-5,
  .gy-lg-5 {
    --bs-gutter-y: 3rem;
  }
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.m-auto {
  margin: auto !important;
}
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}
.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}
.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mt-auto {
  margin-top: auto !important;
}
.me-0 {
  margin-right: 0 !important;
}
.me-1 {
  margin-right: 0.25rem !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.me-3 {
  margin-right: 1rem !important;
}
.me-4 {
  margin-right: 1.5rem !important;
}
.me-5 {
  margin-right: 3rem !important;
}
.me-auto {
  margin-right: auto !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.mb-auto {
  margin-bottom: auto !important;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-size: 0.75rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  box-shadow: var(--bs-btn-box-shadow);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  text-decoration: none;
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
  box-shadow: var(--bs-btn-active-shadow);
}
.btn-check:checked + .btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
  box-shadow: var(--bs-btn-active-shadow), var(--bs-btn-focus-box-shadow);
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
  box-shadow: none;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0078e6;
  --bs-btn-border-color: #0078e6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0066c4;
  --bs-btn-hover-border-color: #0060b8;
  --bs-btn-focus-shadow-rgb: 38, 140, 234;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0060b8;
  --bs-btn-active-border-color: #005aad;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0078e6;
  --bs-btn-disabled-border-color: #0078e6;
}
.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(115, 115, 115);
  --bs-btn-border-color: rgb(115, 115, 115);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #626262;
  --bs-btn-hover-border-color: #5c5c5c;
  --bs-btn-focus-shadow-rgb: 136, 136, 136;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5c5c5c;
  --bs-btn-active-border-color: #565656;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(115, 115, 115);
  --bs-btn-disabled-border-color: rgb(115, 115, 115);
}
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #107c10;
  --bs-btn-border-color: #107c10;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0e690e;
  --bs-btn-hover-border-color: #0d630d;
  --bs-btn-focus-shadow-rgb: 52, 144, 52;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d630d;
  --bs-btn-active-border-color: #0c5d0c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #107c10;
  --bs-btn-disabled-border-color: #107c10;
}
.btn-info {
  --bs-btn-color: #000;
  --bs-btn-bg: #6daae0;
  --bs-btn-border-color: #6daae0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #83b7e5;
  --bs-btn-hover-border-color: #7cb3e3;
  --bs-btn-focus-shadow-rgb: 93, 145, 190;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #8abbe6;
  --bs-btn-active-border-color: #7cb3e3;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #6daae0;
  --bs-btn-disabled-border-color: #6daae0;
}
.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #e8a33d;
  --bs-btn-border-color: #e8a33d;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ebb15a;
  --bs-btn-hover-border-color: #eaac50;
  --bs-btn-focus-shadow-rgb: 197, 139, 52;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #edb564;
  --bs-btn-active-border-color: #eaac50;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #e8a33d;
  --bs-btn-disabled-border-color: #e8a33d;
}
.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c83c3c;
  --bs-btn-border-color: #c83c3c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #aa3333;
  --bs-btn-hover-border-color: #a03030;
  --bs-btn-focus-shadow-rgb: 208, 89, 89;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a03030;
  --bs-btn-active-border-color: #962d2d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c83c3c;
  --bs-btn-disabled-border-color: #c83c3c;
}
.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: rgb(245, 245, 245);
  --bs-btn-border-color: rgb(245, 245, 245);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d0d0d0;
  --bs-btn-hover-border-color: #c4c4c4;
  --bs-btn-focus-shadow-rgb: 208, 208, 208;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c4c4c4;
  --bs-btn-active-border-color: #b8b8b8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: rgb(245, 245, 245);
  --bs-btn-disabled-border-color: rgb(245, 245, 245);
}
.btn-default {
  --bs-btn-color: #000;
  --bs-btn-bg: rgb(245, 245, 245);
  --bs-btn-border-color: rgb(245, 245, 245);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f7f7f7;
  --bs-btn-hover-border-color: #f6f6f6;
  --bs-btn-focus-shadow-rgb: 208, 208, 208;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f7f7f7;
  --bs-btn-active-border-color: #f6f6f6;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: rgb(245, 245, 245);
  --bs-btn-disabled-border-color: rgb(245, 245, 245);
}
.btn-notice {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(51, 51, 51);
  --bs-btn-border-color: rgb(51, 51, 51);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2b2b2b;
  --bs-btn-hover-border-color: #292929;
  --bs-btn-focus-shadow-rgb: 82, 82, 82;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #292929;
  --bs-btn-active-border-color: #262626;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(51, 51, 51);
  --bs-btn-disabled-border-color: rgb(51, 51, 51);
}
.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(30, 30, 30);
  --bs-btn-border-color: rgb(30, 30, 30);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #404040;
  --bs-btn-hover-border-color: #353535;
  --bs-btn-focus-shadow-rgb: 64, 64, 64;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4b4b4b;
  --bs-btn-active-border-color: #353535;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(30, 30, 30);
  --bs-btn-disabled-border-color: rgb(30, 30, 30);
}
.btn-outline-primary {
  --bs-btn-color: #0078e6;
  --bs-btn-border-color: #0078e6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0078e6;
  --bs-btn-hover-border-color: #0078e6;
  --bs-btn-focus-shadow-rgb: 0, 120, 230;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0078e6;
  --bs-btn-active-border-color: #0078e6;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0078e6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0078e6;
  --bs-gradient: none;
}
.btn-outline-secondary {
  --bs-btn-color: rgb(115, 115, 115);
  --bs-btn-border-color: rgb(115, 115, 115);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(115, 115, 115);
  --bs-btn-hover-border-color: rgb(115, 115, 115);
  --bs-btn-focus-shadow-rgb: 115, 115, 115;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(115, 115, 115);
  --bs-btn-active-border-color: rgb(115, 115, 115);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(115, 115, 115);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(115, 115, 115);
  --bs-gradient: none;
}
.btn-outline-success {
  --bs-btn-color: #107c10;
  --bs-btn-border-color: #107c10;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #107c10;
  --bs-btn-hover-border-color: #107c10;
  --bs-btn-focus-shadow-rgb: 16, 124, 16;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #107c10;
  --bs-btn-active-border-color: #107c10;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #107c10;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #107c10;
  --bs-gradient: none;
}
.btn-outline-info {
  --bs-btn-color: #6daae0;
  --bs-btn-border-color: #6daae0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #6daae0;
  --bs-btn-hover-border-color: #6daae0;
  --bs-btn-focus-shadow-rgb: 109, 170, 224;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #6daae0;
  --bs-btn-active-border-color: #6daae0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6daae0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6daae0;
  --bs-gradient: none;
}
.btn-outline-warning {
  --bs-btn-color: #e8a33d;
  --bs-btn-border-color: #e8a33d;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #e8a33d;
  --bs-btn-hover-border-color: #e8a33d;
  --bs-btn-focus-shadow-rgb: 232, 163, 61;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #e8a33d;
  --bs-btn-active-border-color: #e8a33d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #e8a33d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #e8a33d;
  --bs-gradient: none;
}
.btn-outline-danger {
  --bs-btn-color: #c83c3c;
  --bs-btn-border-color: #c83c3c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c83c3c;
  --bs-btn-hover-border-color: #c83c3c;
  --bs-btn-focus-shadow-rgb: 200, 60, 60;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c83c3c;
  --bs-btn-active-border-color: #c83c3c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #c83c3c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #c83c3c;
  --bs-gradient: none;
}
.btn-outline-light {
  --bs-btn-color: rgb(245, 245, 245);
  --bs-btn-border-color: rgb(245, 245, 245);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: rgb(245, 245, 245);
  --bs-btn-hover-border-color: rgb(245, 245, 245);
  --bs-btn-focus-shadow-rgb: 245, 245, 245;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: rgb(245, 245, 245);
  --bs-btn-active-border-color: rgb(245, 245, 245);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(245, 245, 245);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(245, 245, 245);
  --bs-gradient: none;
}
.btn-outline-default {
  --bs-btn-color: rgb(245, 245, 245);
  --bs-btn-border-color: rgb(245, 245, 245);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: rgb(245, 245, 245);
  --bs-btn-hover-border-color: rgb(245, 245, 245);
  --bs-btn-focus-shadow-rgb: 245, 245, 245;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: rgb(245, 245, 245);
  --bs-btn-active-border-color: rgb(245, 245, 245);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(245, 245, 245);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(245, 245, 245);
  --bs-gradient: none;
}
.btn-outline-notice {
  --bs-btn-color: rgb(51, 51, 51);
  --bs-btn-border-color: rgb(51, 51, 51);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(51, 51, 51);
  --bs-btn-hover-border-color: rgb(51, 51, 51);
  --bs-btn-focus-shadow-rgb: 51, 51, 51;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(51, 51, 51);
  --bs-btn-active-border-color: rgb(51, 51, 51);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(51, 51, 51);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(51, 51, 51);
  --bs-gradient: none;
}
.btn-outline-dark {
  --bs-btn-color: rgb(30, 30, 30);
  --bs-btn-border-color: rgb(30, 30, 30);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(30, 30, 30);
  --bs-btn-hover-border-color: rgb(30, 30, 30);
  --bs-btn-focus-shadow-rgb: 30, 30, 30;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(30, 30, 30);
  --bs-btn-active-border-color: rgb(30, 30, 30);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(30, 30, 30);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(30, 30, 30);
  --bs-gradient: none;
}
.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: rgb(115, 115, 115);
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: 0 0 0 #000;
  --bs-btn-focus-shadow-rgb: 66, 69, 69;
  text-decoration: none;
}
.btn-link:focus-visible,
.btn-link:hover {
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}
.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btn-toolbar .input-group {
  width: auto;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group > .form-control,
.input-group > .form-floating,
.input-group > .form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.input-group > .form-control:focus,
.input-group > .form-floating:focus-within,
.input-group > .form-select:focus {
  z-index: 5;
}
.input-group .btn {
  position: relative;
  z-index: 2;
}
.input-group .btn:focus {
  z-index: 5;
}
.input-group-addon,
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid #bbb;
  border-radius: var(--bs-border-radius);
}
.input-group-lg > .btn,
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-text {
  padding: 0.5rem 1rem;
  font-size: 0.9375rem;
  border-radius: var(--bs-border-radius-lg);
}
.input-group-sm > .btn,
.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-text {
  padding: 0.25rem 0.5rem;
  font-size: 0.65625rem;
  border-radius: var(--bs-border-radius-sm);
}
.input-group-lg > .form-select,
.input-group-sm > .form-select {
  padding-right: 3rem;
}
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select,
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
.input-group.has-validation > .dropdown-toggle:nth-last-child(n + 4),
.input-group.has-validation > .form-floating:nth-last-child(n + 3) > .form-control,
.input-group.has-validation > .form-floating:nth-last-child(n + 3) > .form-select,
.input-group.has-validation
  > :nth-last-child(n + 3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(
    .invalid-tooltip
  ):not(.invalid-feedback) {
  margin-left: calc(var(--bs-border-width) * -1);
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
.input-group > .form-floating:not(:first-child) > .form-control,
.input-group > .form-floating:not(:first-child) > .form-select {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-valid-color);
}
.valid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.65625rem;
  color: #fff;
  background-color: var(--bs-success);
  border-radius: var(--bs-border-radius);
}
.is-valid ~ .valid-feedback,
.is-valid ~ .valid-tooltip,
.was-validated :valid ~ .valid-feedback,
.was-validated :valid ~ .valid-tooltip {
  display: block;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: var(--bs-form-valid-border-color);
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23107c10' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: var(--bs-form-valid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-success-rgb), 0.25);
}
.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: transparent;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-card-box-shadow);
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}
.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}
.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
}
.card-subtitle {
  margin-top: calc(-0.5 * var(--bs-card-title-spacer-y));
  margin-bottom: 0;
  color: var(--bs-card-subtitle-color);
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: var(--bs-card-spacer-x);
}
.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
}
.card-footer {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.card-footer:last-child {
  border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
}
.card-header-tabs {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-bottom: calc(-1 * var(--bs-card-cap-padding-y));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
  border-bottom: 0;
}
.card-header-tabs .nav-link.active,
.card-header-tabs .nav.nav-tabs > li:not(.nav-item) > a.active:not(.nav-link) {
  background-color: var(--bs-card-bg);
  border-bottom-color: var(--bs-card-bg);
}
.card-header-pills {
  margin-right: calc(-0.5 * var(--bs-card-cap-padding-x));
  margin-left: calc(-0.5 * var(--bs-card-cap-padding-x));
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}
.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
}
.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}
.card-img,
.card-img-bottom {
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}
.card-group > .card {
  margin-bottom: var(--bs-card-group-margin);
}
@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-header,
  .card-group > .card:not(:last-child) .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-footer,
  .card-group > .card:not(:last-child) .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-header,
  .card-group > .card:not(:first-child) .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-footer,
  .card-group > .card:not(:first-child) .card-img-bottom {
    border-bottom-left-radius: 0;
  }
}
.btn .badge {
  position: relative;
  top: -1px;
}

.dropdown-menu {
  --bs-secondary-color: var(--typo3-component-secondary-color);
}
.alert a {
  color: inherit;
  text-decoration: underline;
}
.alert-title {
  font-size: 1.12em;
  font-weight: 700;
  margin: 0 0 0.25em;
}
.alert-body,
.alert-message {
  margin: 0;
  font-size: 0.9em;
}
.alert-body > :last-child,
.alert-message > :last-child {
  margin-bottom: 0;
}
.alert-body > ul,
.alert-message > ul {
  padding-left: 0;
  padding-inline-start: 1.5em;
}
.alert-dismissible {
  padding-inline-start: var(--bs-alert-padding-x);
  padding-inline-end: 3rem;
}
.alert-message {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.alert-dismissible .close {
  background: 0 0;
  border: none;
  color: inherit;
  font-size: 1.125rem;
  line-height: 1;
  padding: 0;
  position: absolute;
  inset-inline-end: 0.625rem;
  inset-block-start: 0.625rem;
  opacity: 0.5;
}
.alert-dismissible .close:hover {
  color: inherit;
  opacity: 1;
}
.alert-dismissible .alert-actions {
  margin-inline-end: -3rem;
}
.alert-actions {
  display: flex;
  flex-flow: row wrap;
  margin: var(--bs-alert-padding-y) calc(var(--bs-alert-padding-x) * -1)
    calc(var(--bs-alert-padding-y) * -1);
}
.alert-actions a {
  border-block-start: 1px solid var(--bs-alert-border-color);
  flex-basis: 25%;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.5rem var(--bs-alert-padding-x);
  text-align: center;
  text-decoration: none;
}
.alert-actions a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.alert-actions a.executing {
  pointer-events: none;
}
.alert-actions a.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.alert-actions a:not(:last-child) {
  border-inline-end: 1px solid var(--bs-alert-border-color);
}
.alert-light {
  --bs-alert-color: #000;
  --bs-alert-bg: rgb(245, 245, 245);
  --bs-alert-border-color: #dddddd;
  --bs-alert-link-color: #000;
}
.alert-default {
  --bs-alert-color: #000;
  --bs-alert-bg: rgb(238, 238, 238);
  --bs-alert-border-color: #d6d6d6;
  --bs-alert-link-color: #000;
}
.alert-notice {
  --bs-alert-color: #000;
  --bs-alert-bg: rgb(215, 215, 215);
  --bs-alert-border-color: #c2c2c2;
  --bs-alert-link-color: #000;
}
& {
  --badge-success-color: #fff;
  --badge-success-bg: #107c10;
  --badge-success-link-bg-hover: #0a4f0a;
}
& {
  --badge-danger-color: #fff;
  --badge-danger-bg: #c83c3c;
  --badge-danger-link-bg-hover: #a32e2e;
}
.badge {
  color: var(--badge-color);
  background-color: var(--badge-bg);
  --badge-color: var(--badge-default-color);
  --badge-bg: var(--badge-default-bg);
  --badge-link-bg-hover: var(--badge-default-link-bg-hover);
}
.badge-success {
  --badge-color: var(--badge-success-color);
  --badge-bg: var(--badge-success-bg);
  --badge-link-bg-hover: var(--badge-success-link-bg-hover);
}
.badge-danger {
  --badge-color: var(--badge-danger-color);
  --badge-bg: var(--badge-danger-bg);
  --badge-link-bg-hover: var(--badge-danger-link-bg-hover);
}
.btn-group {
  position: static;
}
.btn-group + .btn-group {
  margin-inline-start: 0.5em;
}
.btn-toolbar {
  gap: 0.5rem;
}
.btn-link {
  padding-left: 0;
  padding-right: 0;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}
.btn-group-sm > .btn,
.btn-sm {
  height: calc(
    var(--bs-btn-border-width) * 2 + var(--bs-btn-padding-y) * 2 + var(--bs-btn-font-size) *
      var(--bs-btn-line-height)
  );
}
.btn-notice {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(51, 51, 51);
  --bs-btn-border-color: rgb(51, 51, 51);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #525252;
  --bs-btn-hover-border-color: #474747;
  --bs-btn-focus-shadow-rgb: 82, 82, 82;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5c5c5c;
  --bs-btn-active-border-color: #474747;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(51, 51, 51);
  --bs-btn-disabled-border-color: rgb(51, 51, 51);
}
.btn-default {
  --bs-btn-color: #000;
  --bs-btn-bg: rgb(238, 238, 238);
  --bs-btn-border-color: #bbbbbb;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #cacaca;
  --bs-btn-hover-border-color: #bebebe;
  --bs-btn-focus-shadow-rgb: 159, 159, 159;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #bebebe;
  --bs-btn-active-border-color: #b3b3b3;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: rgb(238, 238, 238);
  --bs-btn-disabled-border-color: #bbbbbb;
}
.btn-borderless {
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-padding-x: var(--bs-btn-padding-y);
}
.btn-permission {
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
}
.table .btn:not(.btn-sm) {
  --bs-btn-padding-x: var(--bs-btn-padding-y);
}
.btn-group > .btn-group:not(:first-child),
.btn-group > :not(.btn-check:first-child) + .btn {
  margin-left: unset;
  margin-inline-start: calc(var(--bs-border-width) * -1);
}
& {
  --icon-color-primary: currentColor;
  --icon-size-small: 16px;
  --icon-size-medium: 32px;
  --icon-size-large: 48px;
  --icon-size-mega: 64px;
  --icon-unify-modifier: 0.86;
  --icon-opacity-disabled: 0.5;
}
.icon {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  color: var(--icon-color-primary);
  height: var(--icon-size, 1em);
  width: var(--icon-size, 1em);
  line-height: var(--icon-size, 1em);
  flex-shrink: 0;
}
.icon img,
.icon svg {
  display: block;
  height: 100%;
  width: 100%;
}
.icon * {
  display: block;
  line-height: inherit;
}
.icon-markup {
  position: absolute;
  display: block;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.icon-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 68.75%;
  width: 68.75%;
  text-align: center;
}
.icon-spin .icon-markup {
  animation: icon-spin 2s infinite linear;
}
@keyframes icon-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icon-state-disabled .icon-markup {
  opacity: var(--icon-opacity-disabled);
}
.icon-size-small {
  --icon-size: var(--icon-size-small);
}
.icon-size-small .icon-unify {
  line-height: var(--icon-size);
  font-size: calc(var(--icon-size) * var(--icon-unify-modifier));
}
.icon-size-small .icon-overlay .icon-unify {
  line-height: calc(var(--icon-size) / 1.6);
  font-size: calc(var(--icon-size) / 1.6 * var(--icon-unify-modifier));
}
.icon-size-medium {
  --icon-size: var(--icon-size-medium);
}
.icon-size-medium .icon-unify {
  line-height: var(--icon-size);
  font-size: calc(var(--icon-size) * var(--icon-unify-modifier));
}
.icon-size-medium .icon-overlay .icon-unify {
  line-height: calc(var(--icon-size) / 1.6);
  font-size: calc(var(--icon-size) / 1.6 * var(--icon-unify-modifier));
}
.icon-size-large {
  --icon-size: var(--icon-size-large);
}
.icon-size-large .icon-unify {
  line-height: var(--icon-size);
  font-size: calc(var(--icon-size) * var(--icon-unify-modifier));
}
.icon-size-large .icon-overlay .icon-unify {
  line-height: calc(var(--icon-size) / 1.6);
  font-size: calc(var(--icon-size) / 1.6 * var(--icon-unify-modifier));
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.35em;
}
.icon {
  vertical-align: -22%;
}

& {
  --typo3-card-grid-gap: 1rem;
  --typo3-card-color: #000;
  --typo3-card-padding: 1rem;
  --typo3-card-bg: #fff;
  --typo3-card-border-color: #cccccc;
  --typo3-card-hover-border-color: #b3b3b3;
  --typo3-spacing: 1rem;
  --typo3-position-start: left;
}
.card {
  --bs-body-color: var(--typo3-card-color);
  --bs-card-bg: var(--typo3-card-bg);
  --bs-card-border-color: var(--typo3-card-border-color);
  --bs-card-box-shadow: var(--typo3-component-box-shadow);
  --bs-card-border-radius: var(--typo3-component-border-radius);
  overflow: hidden;
  margin-bottom: var(--typo3-spacing);
  transition: all 0.2s ease-in-out;
  transition-property: box-shadow, border, transform;
}
.card .table-fit {
  box-shadow: none;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
.card .table-fit:not(:first-child) {
  margin-top: var(--typo3-card-padding);
}
a.card:hover {
  --typo3-card-border-color: var(--typo3-card-hover-border-color);
  text-decoration: none;
  transform: translate(0, -1px);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--typo3-card-grid-gap) 0;
  margin-left: calc(var(--typo3-card-grid-gap) / 2 * -1);
  margin-right: calc(var(--typo3-card-grid-gap) / 2 * -1);
  margin-bottom: var(--typo3-spacing);
}
.card-container .card {
  margin-left: calc(var(--typo3-card-grid-gap) / 2);
  margin-right: calc(var(--typo3-card-grid-gap) / 2);
  margin-bottom: 0;
}
.card-size-large,
.card-size-medium,
.card-size-small {
  width: calc(100% - var(--typo3-card-grid-gap));
}
@media (min-width: 768px) {
  .card-size-small {
    width: calc(50% - var(--typo3-card-grid-gap));
  }
}
@media (min-width: 992px) {
  .card-size-small {
    width: calc(25% - var(--typo3-card-grid-gap));
  }
}
@media (min-width: 768px) {
  .card-size-medium {
    width: calc(50% - var(--typo3-card-grid-gap));
  }
}
.card-size-fixed-small {
  width: calc(100% - var(--typo3-card-grid-gap));
}
@media (min-width: 576px) {
  .card-size-fixed-small {
    width: calc(50% - var(--typo3-card-grid-gap));
  }
}
@media (min-width: 768px) {
  .card-size-fixed-small {
    width: 360px;
  }
}
.card-body,
.card-footer,
.card-header,
.card-image {
  padding: var(--typo3-card-padding) var(--typo3-card-padding) 0 var(--typo3-card-padding);
}
.card-body:last-child,
.card-footer:last-child,
.card-header:last-child,
.card-image:last-child {
  padding-bottom: var(--typo3-card-padding);
}
.card-body > :first-child:not(.row),
.card-footer > :first-child:not(.row),
.card-header > :first-child:not(.row),
.card-image > :first-child:not(.row) {
  margin-top: 0;
}
.card-body > :last-child,
.card-footer > :last-child,
.card-header > :last-child,
.card-image > :last-child {
  margin-bottom: 0;
}
.card-image {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.card-image:first-child {
  padding-top: 0;
}
.card-image:first-child .card-image-badge {
  top: calc(var(--typo3-card-padding) * 0.5);
}
.card-image:last-child {
  padding-bottom: 0;
}
.card-image .card-image-badge {
  position: absolute;
  top: var(--typo3-card-padding);
  inset-inline-end: calc(var(--typo3-card-padding) * 0.5);
}
.card-image img {
  display: block;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.card-header {
  border-bottom: none;
}
.card-header .card-icon {
  float: var(--typo3-position-start);
  margin-inline-end: calc(var(--typo3-card-padding) * 0.5);
}
.card-header .card-header-body {
  display: block;
  overflow: hidden;
}
.card-header .card-title {
  font-weight: 500;
  display: block;
  font-size: 1.35em;
  line-height: 1.2em;
  margin: 0;
}
.card-header .card-subtitle {
  display: block;
  margin-top: 0.5em;
  font-size: 1em;
  line-height: 1.2em;
  opacity: 0.5;
}
.card-header .card-longdesc {
  margin-top: 1em;
}
.card-footer {
  border-top: none;
}
.card-disabled {
  opacity: 0.4;
}
.card-primary {
  --typo3-card-color: #000;
  --typo3-card-bg: #f2f8fe;
  --typo3-card-border-color: #99c9f5;
  --typo3-card-hover-border-color: #66aef0;
}
.card-secondary {
  --typo3-card-color: #000;
  --typo3-card-bg: #f8f8f8;
  --typo3-card-border-color: #c7c7c7;
  --typo3-card-hover-border-color: #ababab;
}
.card-success {
  --typo3-card-color: #000;
  --typo3-card-bg: #f3f8f3;
  --typo3-card-border-color: #9fcb9f;
  --typo3-card-hover-border-color: #70b070;
}

.element-browser-form-group .form-label {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@container (min-width: 500px) {
  .element-browser-form-group {
    display: flex;
    align-items: center;
    gap: calc(var(--typo3-spacing) / 2);
  }
  .form-label {
    width: 180px;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0 !important;
  }
}
}