.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: var(--bs-border-radius);
  --bs-alert-link-color: inherit;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}
.alert-link {
  font-weight: 700;
  color: var(--bs-alert-link-color);
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}
.alert-success {
  --bs-alert-color: var(--bs-success-text-emphasis);
  --bs-alert-bg: var(--bs-success-bg-subtle);
  --bs-alert-border-color: var(--bs-success-border-subtle);
  --bs-alert-link-color: var(--bs-success-text-emphasis);
}
.alert-info {
  --bs-alert-color: var(--bs-info-text-emphasis);
  --bs-alert-bg: var(--bs-info-bg-subtle);
  --bs-alert-border-color: var(--bs-info-border-subtle);
  --bs-alert-link-color: var(--bs-info-text-emphasis);
}
.alert-warning {
  --bs-alert-color: var(--bs-warning-text-emphasis);
  --bs-alert-bg: var(--bs-warning-bg-subtle);
  --bs-alert-border-color: var(--bs-warning-border-subtle);
  --bs-alert-link-color: var(--bs-warning-text-emphasis);
}
.alert-danger {
  --bs-alert-color: var(--bs-danger-text-emphasis);
  --bs-alert-bg: var(--bs-danger-bg-subtle);
  --bs-alert-border-color: var(--bs-danger-border-subtle);
  --bs-alert-link-color: var(--bs-danger-text-emphasis);
}
.alert-notice {
  --bs-alert-color: var(--bs-notice-text-emphasis);
  --bs-alert-bg: var(--bs-notice-bg-subtle);
  --bs-alert-border-color: var(--bs-notice-border-subtle);
  --bs-alert-link-color: var(--bs-notice-text-emphasis);
}

.tx-ig-mfa-frontend .form-label {
  background-color: transparent;
  font-weight: bold;
}
.tx-ig-mfa-frontend .form-description {
  opacity: 0.75;
  margin-bottom: 0.5rem;
}
.tx-ig-mfa-frontend .form-label + .form-description {
  margin-top: -0.25rem;
}
.tx-ig-mfa-frontend .card-footer {
  display: flex;
  gap: 10px;
}

.tx-ig-mfa-frontend input.setup {
  width: 200px;
  border: 1px solid black;
  background-color: #f0f0f0;
  color: #000;
  height: 40px;
}

.tx-ig-mfa-frontend input.setup:hover {
  border: 1px solid black;
  background-color: #ccc;
  color: #000;
}

.tx-ig-mfa-frontend .btn-close:hover {
  background-color: transparent;
  opacity: 75%;
}

.tx-ig-mfa-frontend .hidden {
  display: none;
}


.tx-ig-mfa-frontend .table-fit > .table {
  margin-bottom: 0;
}
.tx-ig-mfa-frontend th,
.tx-ig-mfa-frontend td {
  border-top: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.tx-ig-mfa-frontend .alert.alert-warning {
  list-style-type: none;
  margin: 0;
}


.tx-ig-mfa-frontend .badge-success {
  padding: 0 5px;
}

.back-to-login {
    margin-top: 0.5rem;
}
.tx-ig-mfa-frontend .btn-close {
  cursor: pointer;
  padding: 10px;
  background: transparent;
}
.tx-ig-mfa-frontend .alert-heading svg {
    fill: var(--bs-alert-color);
    width: 1rem;
    height: 1rem;
}


.tx-ig-mfa-frontend .table-fit {
  width: 100%;
  border-radius: var(--typo3-component-border-radius);
  box-shadow: var(--typo3-component-box-shadow);
  margin-bottom: var(--typo3-spacing);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ccc;
}


/* modal dialog */
.ig-mfa-frontend-modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.ig-mfa-frontend-infobox-content {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

.ig-mfa-frontend-infobox .header {
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  border-bottom-color: #2e2e2e;
  height: 60px;
}
.ig-mfa-frontend-infobox .header .action-close {
    background-color: transparent;
    width: 30px;
    cursor: pointer;
    text-align: right;
}

.ig-mfa-frontend-infobox-title {
  margin: 0;
  color: #fff;
}


.ig-mfa-frontend-infobox-close.btn.btn-deafult {
  border: 1px solid #333;
}

.ig-mfa-frontend-infobox-body {
  padding: 15px;
}

.ig-mfa-frontend-infobox-body pre {
    margin-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.ig-mfa-frontend-infobox-footer {
  padding: 10px;
  text-align: right;
}

